{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bowen Kruse</title>
    {# Google fonts #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bowenkruse/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/jpeg" href="{% static 'bowenkruse/images/favicon.jpg' %}"


</head>

<body>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{% static 'bowenkruse/images/Profile.jpg' %}" alt="" class="side-image">
            <h1 class="text-light"><a href="#hero">Bowen Kruse</a></h1>

        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto"><i class="bx bx-home fa fa-home"></i>
                    <span>Home</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user fa fa-address-card"></i>
                    <span>About</span></a></li>
                <li><a href="#projects" class="nav-link scrollto"><i class="bx bx-book-content fa fa-cloud"></i>
                    <span>Projects</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope fa fa-envelope"></i> <span>Contact</span></a>
                </li>
                <li><a href="{% url 'onetwoseven' %}" class="nav-link scrollto"><i
                        class="bx bx-envelope fa fa-graduation-cap"></i> <span>For my students</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>bowen kruse</h1>
    </div>
</section>

<div class="main">

    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2 class="fa fa-address-card"> About</h2>
                <div class="row">
                    <div class="side">
                        <h4>Background</h4>
                        <p>I’m a graduate of Montana State University having studied Computer Science and incoming
                            management trainee at BNSF, with a background in pure
                            mathematics, and applied aviation sciences. I’ve successfully led teams in numerous global
                            coding competitions on three continents. I’ve also been an active member of ACM and IEEE
                            since 2017.</p>
                    </div>

                    <div class="main_column">
                        <h4>Experience - overview</h4>
                        <p>As a private pilot, I’ve gained an appreciation for the technology required to enable the
                            world to function. My work has allowed me to experience working in a diverse set of
                            environments utilizing a variety of development methods.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="side">
                        <h4>BNSF Railway Intern - Application Development</h4>
                        <p>
                            Developed computer vision models using the amazing Cogniac platform to detect instances of
                            damage on train wheels. Developed python programs to analyze possible causes of detection
                            imbalances from existing models.
                        </p>
                        <p>
                            Built a highly dynamic development landscape timeline web application using the Django
                            Framework. Data was pulled in Using RESTful APIs and utilized recursive descent parsing as
                            well as SQLite databases to power an extremely fast back-end.
                        </p>
                        <p>
                            Used Power BI to detect and display relationships between project and maintenance events in
                            the SAP development landscape.
                        </p>

                        <p>
                            Developed a ServiceNow application to automate a previously bothersome manual task regarding
                            change requests in the SAP domain.
                        </p>

                    </div>

                    <div class="main_column">
                        <h4>Undergraduate Teach Assistant</h4>
                        <p>
                            Leading labs and respective instruction
                        </p>
                        <p>
                            Hosting private tutoring sessions in addition to office hours and practicum review sessions
                        </p>
                        <h6>'Joy and Beauty of Data' Course Description:</h6>
                        <p>
                            "Provides a gentle introduction to the exciting world of big data and data science. Students
                            expand their ability to solve problems with Python by learning to deploy lists, files,
                            dictionaries and object-oriented programming. Data science libraries are introduced that
                            enable data to be manipulated and displayed."
                        </p>
                    </div>
                </div>

                <div class="row" style="background-color: rgba(20,157,221,0.38)">
                    <div class="col-1" style="font-size: 20px;">
                        <h3 style="text-align: center">Languages</h3>
                        <ul class="list-inline">
                            <li>Python</li>
                            <li>Golang</li>
                            <li>Java</li>
                            <li>C/C++</li>
                            <li>Swift</li>
                            <li>Javascript</li>
                        </ul>
                    </div>

                    <div class="col-1">
                        <h3 style="text-align: center">Concepts</h3>
                        <ul class="list-inline" style="font-size: 20px;">
                            <li>Object Orientated Programming</li>
                            <li>Computer Vision</li>
                            <li>AI/ML Concepts</li>
                            <li>Computational Theory</li>
                            <li>Complexity Analysis</li>
                            <li>Virtualization</li>
                            <li>Embedded Systems</li>
                        </ul>
                    </div>

                    <div class="col-1">
                        <h3 style="text-align: center">Tools</h3>
                        <ul class="list-inline" style="font-size: 20px;">

                            <li>Docker</li>
                            <li>Git & Github</li>
                            <li>Kubernetes</li>
                            <li>AWS</li>
                            <li>Jira</li>
                            <li>Jupyter</li>
                            <li>Power BI</li>
                            <li>ServiceNow</li>

                        </ul>
                    </div>
                    <div class="col-1">
                        <h3 style="text-align: center">Professional Certifications</h3>
                        <ul class="list-inline" style="font-size: 20px;">
                            <li>Private pilot with instrument and multi-engine rating</li>
                            <li>IBM Applied AI Professional</li>
                            <li>Google IT Support Professional</li>
                            <li>TensorFlow Developer - In progress</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="portfolio section-bg">
        <div class="container">
            <div class="section-title">
                <h2 class="fa fa-cloud"> Projects</h2>
                <p>This is a collection of select projects I've been involved with. Some projects have
                    live demos available.</p>
                <p style="font-size: 15px">Following each project title is a list of skills, tools, or concepts
                    utilized in the respective project.</p>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Development Landscape Timeline - Web app development, API work, AWS</h5>
                    <p>
                        As an intern as BNSF Railway, I designed and created the full stack of a Flask web application
                        that showed relationships between projects and events such as maintenance events or outages. All
                        information was pulled from a SharePoint list using SharePoint's rest API and utilized recursive
                        descent parsing along with SQLite databases to power it's rather fast backend. Working with
                        server-less databases was a refreshing experience. The highly dynamic web app utilized
                        Timeline.js to create an incredibly dynamic timeline with one of kind scaling and scrolling
                        capabilities.
                    </p>
                </div>
                <div class="col-2">
                    <h5>ML model to detect instances of damage on train wheels - Machine learning, computer vision</h5>
                    <p>
                        Working on the BNSF Railway Midas (Mechanical Image Driven Analytics System) under the guidance
                        of Coleman Barkely I Developed computer vision deep learning models using the amazing Cogniac
                        Corporation platform to detect instances of damage on portions of train wheels that existing
                        models were struggling to identify. Being able to combine my passions for machine learning and
                        computer vision was amazing.
                    </p>
                    <p>
                        Like many computer vision applications, my project started with understanding how the images
                        were captured and processed might affect models created from the data. I then created python
                        programs to analyze possible causes of detection imbalances from existing models and presented
                        my findings. My data research lead to real conversation and change.
                        My models continued training with hopes for deployment after the end of my internship.
                    </p>
                </div>
                <div class="col-2">
                    <h5>Change Request Automation ServiceNow Application - ServiceNow development, automation</h5>
                    <p>
                        Using the ServiceNow platform, I collaborated with a fellow intern to create a web application
                        that automated the creation and approval of emergency change requests within the SAP development
                        landscape. This application would replace what was previously hundreds of emails each week, and
                        decreased required user input fields by 38%.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <h5>Google Hash Code 2020 - Agile, leadership, advanced algorithms</h5>
                    <p>
                        At the Google Hash Code 2020 Sharjah Hub, I put together a team of four fellow students, that
                        collectively were from three different continents, and spoke five languages. I implemented a
                        series of miniature scrum sprints in order to better structure our team’s efforts and also
                        delegated tasks between team members as needed in order to mitigate issues that arose from
                        conflicting approaches and preferences in programming languages. My 2020 team finished with
                        20,967,384 points in the 62 percentile of all 10,724 global competitors with two unique
                        solutions I was very proud of.
                    </p>
                </div>
                <div class="col-2">
                    <h5>United Arab Emirates Hackathon 2020 - User centered design, automation, leadership, mobile
                        development</h5>
                    <p>
                        The United Arab Emirates Hackathon was a unique event for me, as it did not focus on programming
                        solutions or other standard hackathon outcomes. Instead, the goal was to develop solutions and
                        innovative ideas that would contribute to actual issues that the various communities of the UAE
                        were facing under the competition motto: ‘Data for Happiness and Well-being’. I created a
                        proposed solution to traffic congestion between emirates that utilized automated smart corridors
                        and a Self-Adaptive Traffic Signal system based on real-time data. I also created a beta version
                        of a Transit App feature that allowed users to plan routes within and between emirates using all
                        available types of public transportation between destinations.
                    </p>
                </div>
                <div class="col-2">
                    <h5>Reinforcement learning from scratch - Machine learning</h5>
                    <p>Utilizing two elementary Reinforcement learning algorithms, Value Iteration and Q-learning,
                        from scratch to move a simulated car around a series of tracks.
                    </p>
                    <a href="{% url 'underconstruction' %}">Learn more</a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Bo the Chatbot - chatbot development, NLP, machine learning, web app development</h5>
                    <p>
                        Bo the Chatbot, who hopefully you’re now familiar with, is powered by IBM Watson. Using Watson’s
                        Discovery, Tone Analyzer, Assistant, and Natural Language Understanding for processing and
                        analysis, Bo can answer most of the questions that reading through the entire site could. Bo
                        will continue to grow and learn as the complexity of his algorithm increases. Give Bo the
                        Chatbot a try in the bottom left corner of the site.
                    </p>
                </div>
                <div class="col-2">
                    <h5>BioCalc - bioinformatics, advanced algorithms</h5>
                    <p> Interactive implementations of some the most foundational data structures and algorithms
                        in bioinformatics such as the z-algorithm.
                    </p>
                    <a href="{% url 'underconstruction' %}">Demo</a>
                </div>
                <div class="col-2">
                    <h5>WeSync - UX/UI Design and Web Development</h5>
                    <p>
                        WeSync is an academic networking platform that I developed in collaboration with two other
                        students to fulfill course project requirements for CSCI 331 at Montana State University. The
                        development process included a full UX/UI design process. The
                        prototype available at the link below allows users to create profiles, rating other users, add
                        courses, join groups in courses, message other users, and more. This prototype will not be
                        developed any further.
                    </p>
                    <a href="http://wesync-django-env4.eba-s3uhhsqf.us-west-2.elasticbeanstalk.com/login/">Demo</a> or
                    <a href="{% url 'wesyncUX' %}">Learning more about the design process</a>

                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>This website - web app development, UX/UI Design, AWS, Docker</h5>
                    <p>Does this count as recursion?
                    </p>
                    <a href="{% url 'index' %}">Demo</a>
                </div>
                <div class="col-2">
                    <h5>CareerSync - UX/UI Design process</h5>
                    <p> A prototype platform where users can generate new resume's, track application
                        progress, and take advantage of other job hunting related tools.
                    </p>
                    <a href="{% url 'uxwork' %}">Learn more about the process</a>
                </div>
                <div class="col-2">
                    <h5>ASLText</h5>
                    <p>
                        In progress ...
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Sudoku Solver</h5>
                    <p>
                        <a href="{% url 'underconstruction' %}">Learn more</a>
                    </p>
                </div>
                <div class="col-2">
                    <h5>Tik-Tac-told</h5>
                    <p>
                        <a href="{% url 'underconstruction' %}">Demo</a>
                    </p>
                </div>
                <div class="col-2">
                    <h5>Wumpus world implementation</h5>
                    <p>
                        <a href="{% url 'wumpus' %}">Learn more</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-2">

                </div>
                <div class="col-2">

                </div>
                <div class="col-2">

                </div>
            </div>
        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2 class="fa fa-envelope"> Contact</h2>
                <p>Feel free to get in touch with me at anytime using any of the methods below.</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email (Standard):</h4>
                            <p>bokruse 1998 @ gmail.com</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email (Secure):</h4>
                            <p>platitude@protonmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call or text:</h4>
                            <p>+1 406 465 1399</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>My Github:</h4>
                            <p><a href="https://github.com/bowenkruse">bowenkruse</a></p>
                        </div>


                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4><a href="https://www.linkedin.com/in/bowen-kruse-b04364196/"> Or add me on LinkedIn</a>
                            </h4>
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</div>
</body>
</html>